*.suo
*.vssscc
*.scc
*.user
/*/Bin/*
/*/obj/*
/*/*.suo
/*/*.vssscc
/*/*.scc
/*/*.user
/*/Dotfuscated/*
/*/PerfLogs/*

/UpgradeLog.*
/_UpgradeReport_Files/*.*
/Tup.Cobar.Parser/java.src
/Tup.Cobar.Parser.UnitTest/java.src
