*.suo
*.vssscc
*.scc
*.user
/*/Bin/*
/*/obj/*
/*/*.suo
/*/*.vssscc
/*/*.scc
/*/*.user
/*/Dotfuscated/*
/*/PerfLogs/*

/UpgradeLog.*
/_UpgradeReport_Files/*.*
/Tup.Cobar4Net.Parser/java.src
/Tup.Cobar4Net.Parser.UnitTest/java.src
/Tup.Cobar4Net.Parser.NUnitTest/ManagerParserTestPerf.cs
/Tup.Cobar4Net.Parser.NUnitTest/ManagerParserTest.cs
/Tup.Cobar4Net.Parser.NUnitTest/ServerParserTest.cs
/Tup.Cobar4Net.Parser.NUnitTest/ServerParserTestPerf.cs
